@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Nunito:ital,wght@0,400;0,700;0,900;1,1000&display=swap');


* {
	margin: 0;
	padding: 0;
}
body {
    height: 100%;
    width: 100%;
    /* Устанавливает фоновый цвет, который будет отображаться, пока загружается фоновое изображение */
    background-color: #463434;

}
::-moz-selection {
    background-color: #b99d8a;
    color: #ffffff;
}
::selection {
    background-color: #b99d8a;
    color: #ffffff;
}
img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    margin: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
a, u {
    text-decoration: none;
  }
/* Шапка */
header {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 130px;
    background-color: #1e1f1fa2;
    
  }
  
  .wrapper_header {
   max-width: 85%;
   margin: 5px auto 5px auto;
  }
  
  .rainbow-text {
    display: flex;
    align-items: center;
  font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
  
  }
  .rainbow-text .block-line > span {
  display: inline-block;
    text-align: center;
  }
  .block-line {
  background-image: linear-gradient(90deg,#80ED12,#04D68D,#10DBDE,#1FDBF0,#1CF69B,#D3EB67,#FBCE29,#ED1180,#D504A6,#7fed12,#21ed3d,#10deb1,#1fdbf0,#1ce0f6,#28d4d1,#f8fb29,#ed6d11,#d504a8);
  color: #0000;
  -webkit-background-clip: text;
  background-clip: text;
  }
  h1 {
    margin-left: 25px;
    font-size: 30px;
    font-weight: 800;
    margin-top: 7px;
  }
  .h1_with {
    display: none;
  }
  .h1_with2 {
    display: none;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .wrapper_cont {
    display: flex;
    align-items: center;
    height: 130px;
    margin-left: auto; 
    padding-right: 20px;
    
  }
  
  .logo_fon {
    display: flex;
    width: 95px;
    height: 95px;
    border-radius: 100px;
    
  }
  .logo_size {
    display: block;
    margin: 0 auto;
    width: 95px;
    height: 80px;
  }
  
  
  .logo_contakr {
    margin-top: 35px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
  }
  .indents_menu {
    margin-left: 15px;
    margin-right: 15px;
    
  }
  
  .p_iphon {
    color: #FFCB9A;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
  }
  
  .p_iphon:hover {
    color: rgba(255, 255, 255, 0.842);
    transition: 0.4s;
  }
  
  .wrapper_iphon {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .a_iphon1 {
    display: flex;
    justify-content: center;
    color: #FFCB9A;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
  }
  .a_iphon1:hover {
    color: rgba(255, 255, 255, 0.842);
    transition: 0.4s;
  }
  .img_size {
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 25px;
  }
  
  .igm_size_margin {
    margin-left: 10px;
    margin-right: 10px;
  }
  .p_time {
    text-align: center;
    color: #FFCB9A;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-size: 15px;
    font-weight: 500;
  }
  

                                    /* Тело страницы */

.container {
    height: 2400px;
    width: 100%; 
    margin: 0 auto;
    background-size: cover;
    background-image: url(igmp_index/Фон1_персональные_тренировки.jpeg);
}

.block_indent {
    padding-top: 160px;
}

.header_block {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 900px;
    height: 180px;
    border-radius: 30px;
    background-color: #1e1f1fa2;
}
            /* текст описания */

.h2_text1 {
    padding-top: 5px;
    text-align: center;
    color: #FFCB9A;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 30px;
    font-weight: 800;
}
.h2_text2 {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #ff9100;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 30px;
    font-weight: 800;
}
.a_trainer {
    color: #ff3300cb;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 30px;
    font-weight: 800;
    transition: 0.7s;
}
.a_trainer:hover {
    color: #c8ff00;
    transition: 0.7s;
}
.h2_text3 {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 30px;
    font-weight: 800;
}

            /* Разовая тренировка и запись */

.container_training_1 {
    display: block;
    margin: 0px auto;
    padding: 10px;
    max-width: 1000px;
    width: 90%;
    height: 100%;
    background-color: #000000a6;
    border-radius: 5px;
}

.p_one-time_training_action{
    text-align: center;
    color: #ff3c00;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 30px;
    font-weight: 800;
}
.p_one-time_training_1 {
    margin: 5px;
    text-align: center;
    color: #ff3c00;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 26px;
    font-weight: 800;
}
.p_one-time_training_2 {
    margin: 10px;
    text-align: center;
    color: #ffffff;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 26px;
    font-weight: 800;
}


.p_one-time_training_price {
    padding-top: 150px;
    padding-bottom: 35px;
    text-align: center;
    color: #c8ff00;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 35px;
    font-weight: 800;
}
.container_start_end {
    margin: 15px auto;
    max-width: 300px;
    border-radius: 10px;
    background-color: #0000007c;
}

.p_start_end {
    text-align: center;
    color: #ff3c00;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 40px;
    font-weight: 800;
}

                    /* Блоки абонементов */

.with_content {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block_content {
    width: 23%;
    height: 540px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    background-color: #011d2081;
    border-radius: 30px;
}

.p_subscription {
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    color: #ff8800;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 45px;
    font-weight: 800;
}
/* картинки */
.img_person {
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 128px;
}
.p_number {
    margin-top: 15px;
    text-align: center;
    color: #c8ff00;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 50px;
    font-weight: 800;
}

.p_lessons {
    margin-top: 15px;
    text-align: center;
    color: #c8ff00;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 35px;
    font-weight: 800;
}

.p_price {
    margin-top: 50px;
    text-align: center;
    color: #ff8800;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    font-size: 35px;
    font-weight: 800;
}

/* Кнопка "Записаться" */
.shine-button {
    text-decoration: none;
    display: inline-block;
    padding: 20px 80px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    background-color: #000000;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fe6637;
    transition: .1s ease-in-out;
  }
  .shine-button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 70px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .shine-button:hover {
    background: #fe6637;
    color: #fff;
  }
  .shine-button:hover:before {
    left: 215px;
    transition: .3s ease-in-out;
  }


/* Адаптивность под разные форматы экрана */
@media(max-width:2100px) {
    /* Страница 1 */
    .with_content {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width:1800px) {
    
   /* Шапка */
   h1 {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 33px;
  }
}
                                        
@media(max-width:1700px) {
   /* Шапка */
   .wrapper_header {
    max-width: 95%;
 }
 .wrapper_cont {
    margin-right: 25px;
 }
h1 {
    font-size: 22px;
  }
.p_iphon {
    font-size: 17px;
}
.a_iphon1 {
    font-size: 15px;
    
}
.img_size {
    width: 25px;
    height: 25px;
}
.p_time {
    font-size: 13px;
}
}
                        




@media(max-width:1350px) {
    /* Шапка */
    .wrapper_header {
        max-width: 94%;
    }
    h1 {
        
        font-size: 16px;
    }
      .p_iphon {
        font-size: 15px;
    }
    .a_iphon1 {
        font-size: 14px;
        
    }
    .img_size {
        width: 23px;
        height: 23px;
    }
    .logo_fon {
        width: 80px;
        height: 80px;
        
    }
    .logo_size {
        width: 77px;
        height: 70px;
    }
}

@media(max-width:1200px) {
/* Страница 1 */
.container {
    height: 2700px;
}
.block_indent {
    padding-top: 150px;
}
.p_one-time_training_price {
    padding-top: 40px;
    padding-bottom: 10px;
}
.bloc_enroll {
    margin-bottom: 10px;
}
.block_content {
    width: 40%;
    height: 400px;
    margin-bottom: 40px;
}

/* картинки */
.img_person {
    width: 100px;
    height: 100px;
}
.p_number {
    margin-top: 10px;
}

.p_lessons {
    margin-top: 10px;
}

.p_price {
    margin-top: 30px;
}
}

@media(max-width:1015px) {
    /* Страница 1 */
    .container {
        background-color: #000000ab;
        height: 2500px;
    }
    .header_block {
        width: 98%;
        height: 160px;
    }
    .block_indent {
        padding-top: 140px;
    }
    /* текст описания */
    .container_training_1 {
        padding: 5px;
        max-width: 700px;
        
        
    }

    .p_one-time_training_action{
        font-size: 23px;
    }
    .p_one-time_training_1 {
        margin: 5px;
        font-size: 18px;
        font-weight: 800;
    }
    .p_one-time_training_2 {
        margin: 5px;
        font-size: 18px;
    }
    
    .p_one-time_training_price {
        font-size: 27px;
    }
    .bloc_enroll {
        width: 200px;
        height: 40px;
    }
    .a_enroll {
        font-size: 27px;
    }
    .block_content {
        width: 40%;
        height: 300px;
    }
    .h2_text1 {
        padding-top: 3px;
        font-size: 25px;
    }
    .h2_text2 {
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 25px;
    }
    .a_trainer {
        font-size: 27px;
    }
    .h2_text3 {
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 27px;
    }

   .p_subscription {
        font-size: 35px;
    }

    .img_person {
        width: 80px;
        height: 80px;
    }
    .p_number {
        margin-top: 5px;
        font-size: 35px;
    }

    .p_lessons {
        margin-top: 5px;
        font-size: 28px;
    }

    .p_price {
        margin-top: 25px;
        font-size: 28px;
    }
    
   /* Шапка */
   header {
    height: 100px;
}
.logo_fon {
    width: 80px;
    height: 80px;
    
}
.wrapper_header {
    max-width: 95%;
    margin-top: 0px;
 }

h1 {
    display: none;
  }
  .h1_with {
    display:block;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 800;
}
.block-line {
    background-image: linear-gradient(90deg,#02ff17,#05ffd5,#13bcda,#1FDBF0,#10c6cc,#10c6cc,#10c6cc,#10c6cc,#0b7519,#ebe71a,#ed11b6,#D504A6,#ed12b6);
}
  .p_iphon {
    font-size: 16px;
}
.logo_size {
    width: 85px;
    height: 70px;
}

.wrapper_cont {
    height: 100px;
}

    
    
}






@media(max-width:750px) {
    .h2_text1 {
       
        font-size: 22px;
    }
    .h2_text2 {
        
        font-size: 22px;
    }
  /* Шапка */
  .wrapper_header {
    max-width: 95%;
 }
 .h1_with {
    display: none;
}
.wrapper_cont {
    padding-right: 25px;
}
.logo_size {
    margin-top: 3px;
    width: 75px;
    height: 65px;
}

.p_iphon {
    font-size: 14px;
}
.indents_menu {
    margin-left: 5px;
    margin-right: 5px;
}
.a_iphon1 {
    font-size: 12px;
    
}
.img_size {
    width: 21px;
    height: 21px;
}
.p_time {
    font-size: 11px;
}
}


@media(max-width:500px) {
     /* Страница 1 */
     .container { 
        height: 2000px;
     }
     .header_block {
        height: 140px;
        border-radius: 5px;
     }
    .block_content {
        width: 165px;
        height: 250px;
        margin-bottom: 5px;
    }
    .container_training_1 {
        width: 95%;
        border-radius: 10px;
    }
    .p_one-time_training_action{
        font-size: 20px;
    }
    .p_one-time_training_1 {
        font-size: 14px;
       
    }
    .p_one-time_training_2 {
       
        font-size: 18px;
    }
    .a_enroll {
        font-size: 20px;
    }
    .h2_text1 {
        margin: 3px;
        font-size: 14px;
    }
    .h2_text2 {
        margin: 3px;
        font-size: 17px;
    }
    .a_trainer {
        font-size: 20px;
    }
    .h2_text3 {
        font-size: 20px;
    }
    .bloc_enroll {
        width: 150px;
        height: 30px;
    }
    .p_one-time_training_price {
        padding-top: 10px;
        font-size: 23px;
    }
    
   .p_subscription {
        font-size: 23px;
    }
    .p_number {
        font-size: 32px;
    }

    .p_lessons {
        font-size: 23px;
    }

    .p_price {
        margin-top: 5px;
        font-size: 23px;
    }

    /* Шапка */
  
 .wrapper_header {
    max-width: 99%;
  }
  .wrapper_cont {
    
    padding-right: 0px;
   
  }
  .wrapper_iphon {
    
    margin-right: 0px;
  }
  .wrapper {
   justify-content: center;
    
  }
  .logo_size {
    
    width: 60px;
    height: 50px;
  }
  .logo_fon {
    width: 60px;
    height: 50px;
    margin-left: 3px;
   
  }
  
  .a_iphon1 {
  font-size: 12px;
  }
  .p_time {
  font-size: 10px;
  }
}

@media(max-width:380px) {
 /* Шапка */
    
 .igm_size_margin {
    margin-left: 8px;
    margin-right: 8px;
}
.p_time {
    font-size: 9px;
}
  /* Страница 1 */
  .container { 
    height: 1800px;
 }
}



@media(max-width:370px) {
    /* Страница 1 */
    .container { 
        height: 2300px;
     }
    .block_content {
        width: 100%;
    }

}
@media(max-width:360px) {
   /* Шапка */
   .p_iphon {
    font-size: 12px;
}
.img_size {
    width: 18px;
    height: 18px;
}
.logo_fon {
    width: 50px;
    margin-left: 3px;
    
    
}
.logo_size {
    width: 50px;
    height: 45px;
}
    
}



 /*------------------------------БОКОВАЯ ПАНЕЛЬ-------------------------------------*/
 .nav {
    /*  ширна произвольная, не стесняйтесь экспериментировать */
    width: 400px;
    min-width: 320px;
    /* фиксируем и выставляем высоту панели на максимум */
    height: 800px;
    position: fixed;
    top: 20px;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно правого края страницы */
    right: -480px;
    /* внутренние отступы */
    padding: 15px 20px;
    /* плавный переход смещения панели */
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
    /* определяем цвет фона панели */
    background: #131313ec;
    /* поверх других элементов */
    z-index: 2001;
    border-radius: 25px;
    border: solid 1px; color: #9dff00;
    
}


/**
 * Кнопка переключения панели
 * тег <label>
 */

.nav-toggle {
    /* абсолютно позиционируем */
    position: absolute;
    /* относительно правого края панели */
    right: 510px;
    /* отступ от верхнего края панели */
    top: 10px;
    /* внутренние отступы */
    padding: 0.5em;
    /* определяем цвет фона переключателя
     * чаще вчего в соответствии с цветом фона панели
    */
    background: inherit;
    /* цвет текста */
    
    /* вид курсора */
    cursor: pointer;
    /* размер шрифта */
    font-size: 25px;
    line-height: 1;
    /* всегда поверх других элементов страницы */
    z-index: 2001;
    /* анимируем цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
    border-radius: 15px;
    border: solid 1px;
    
}


/* определяем текст кнопки 
 * символ Unicode (TRIGRAM FOR HEAVEN)
*/

.nav-toggle:after {
    content: 'Меню';
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-style: normal;
    text-decoration: none;
    
}


/* цвет текста при наведении */

.nav-toggle:hover {
    color: #f4f4f4;
}


/**
 * Скрытый чекбокс (флажок)
 * невидим и недоступен :)
 * имя селектора атрибут флажка
 */

[id='nav-toggle'] {
    position: absolute;
    display: none;
}


/**
 * изменение положения переключателя 
 * при просмотре на мобильных устройствах
 * когда навигация раскрыта, распологаем внутри панели
*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 30px;
    top: 1em;
    
}


/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */

[id='nav-toggle']:checked ~ .nav {
    right: 0;
    box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}





/*
 * изменение символа переключателя,
 * привычный крестик (MULTIPLICATION X), 
 * вы можете испльзовать любой другой значок
*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}







/**
 * Формируем стиль заголовка (логотип) панели 
*/

.nav h2 {
    width: 90%;
    padding: 0;
    margin: 10px 0;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    text-align: center;
    color: #9dff00;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}

.nav h2 a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}


/*плавное появление заголовка (логотипа) при раскрытии панели */

[id='nav-toggle']:checked ~ .nav h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}


/**
 * формируем непосредственно само меню
 * используем неупорядоченный список для пунктов меню
 * прикрутим трансфомации и плавные переходы
 */

.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav > ul > li {
    line-height: 2;
    opacity: 0;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}


/* определяем интервалы появления пунктов меню */

.nav > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}

.nav > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}

.nav > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}

.nav > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}

.nav > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}

.nav > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}


/**
 * оформление ссылок пунктов меню
 */

.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
    font-weight: 800;
    font-size: 24px;
    color: #ffffff;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}


/**
 * состояние ссылок меню при наведении
 */

.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}


/**
 * линия подчеркивания ссылок меню
 */

.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #9dff00;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}


/**
 * анимируем линию подчеркивания 
 * ссылок при наведении
 */

.nav > ul > li > a:hover:before {
    width: 0%;
    background: #ffc400;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.nav > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

@media (max-width:1700px) {
    .nav {
        top: 18px;
        /* сдвигаем (прячем) панель относительно правого края страницы */
        right: -450px;
      
    }
    
    
    /**
     * Кнопка переключения панели
     * тег <label>
     */
    
    .nav-toggle {
        /* абсолютно позиционируем */
        position: absolute;
        /* относительно правого края панели */
        right: 460px;
        /* отступ от верхнего края панели */
        top: 20px;
        
        /* размер шрифта */
        font-size: 20px;
        
    }
  }
  
  
  @media (max-width:1350px) {
  
    .nav-toggle { 
        /* размер шрифта */
        font-size: 18px;
        top: 18px;
    }
  
  }
  @media (max-width:1015px) {
  
    .nav-toggle { 
        top: -5px;
    }
  
  }
  @media (max-width:500px) {
    .nav {
        top: 18px;
        /* сдвигаем (прячем) панель относительно правого края страницы */
        right: -470px;
       /*  ширна произвольная, не стесняйтесь экспериментировать */
       width: 280px;
       min-width: 0px;
       /* фиксируем и выставляем высоту панели на максимум */
       height: 550px;
    
    }
    /**
     * Кнопка переключения панели
     * тег <label>
     */
    
    .nav-toggle {
        /* отступ от верхнего края панели */
        top: -8px;
        right: 475px;
        font-size: 18px;
        border-radius: 12px;
    }
    .nav > ul > li > a {
        font-size: 17px;
    }
    .nav h2 {
        width: 100%;
        margin: 15px 0;
        font-size: 20px;
    }
   
  }
  
  
  @media (max-width: 380px) {
    .nav {
        top: 19px;
        /* сдвигаем (прячем) панель относительно правого края страницы */
        right: -455px;
      
    }
    .nav-toggle {
        /* размер шрифта */
        font-size: 16px;
        right: 460px;
    }
  }
  @media (max-width: 360px) {
    .nav {
        width: 260px;
        top: 23px;
        /* сдвигаем (прячем) панель относительно правого края страницы */
        
        height: 530px;
    }
    .nav-toggle {
        /* размер шрифта */
        font-size: 14px;
        
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Базовые стили слоя затемнения и модального окна  */
  .overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    }
    .overlay:target {
    visibility: visible;
    opacity: 1;
    }
    
    /*** Формируем стили модального окна ***/
    .popup {
    top: 0;
    right: 0;
    left: 0;
    font-size: 16px;
    z-index: 10;
    display: block;
    visibility: hidden;
    margin: 0 auto;
    width: 90%;
    height: 700px;
    min-width: 320px;
    max-width: 800px;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #fe6637;
    /* скругление углов */
    border-radius: 5px;
    background-color: #131313ce;
    /* внешняя тень блока */
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    /* полная прозрачность окна, появление при клике */
    opacity: 0;
    /* эффект перехода (появление) */
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    }
    /* активируем появление окна и затемнение фона */
    .overlay:target+.popup {
    top: 20%; /* положение окна от верха страницы при появлении */
    visibility: visible;
    opacity: 1; /* убираем прозрачность */
    }
    /* формируем кнопку закрытия */
    .close {
    position: absolute;
    top: -10px;
    right: -10px;padding: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    /* задаём значения и эффект перехода при наведении */
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
    }
    .close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
    }
    .close:hover {
    background-color: #fe6637;
    /* крутим кнопку при наведении */
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);    
    }
  .form_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
    /* Логотип */
    .form_logo {
      display: block;
      margin: 5px auto;
      width: 165px;
      height: 140px;
    }
  
    .p_call {
      text-align: center;
      vertical-align: middle;
      font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
      font-weight: 800;
      font-size: 45px;
      margin: 15px;
      color: #fe6637;
    }
    .p_call1 {
        text-align: center;
        vertical-align: middle;
        font-family: Nunito, 'Times New Roman', sans-serif, Times, serif, Georgia;
        font-weight: 800;
        font-size: 45px;
        margin: 15px;
        color: #fe6637;
      }
  
    /* button */
    
    .shine-button1 {
      text-decoration: none;
      display: inline-block;
      padding: 20px 30px;
      margin: 15px 20px;
      position: relative;
      overflow: hidden;
      background-color: #000000;
      border: 2px solid #fe6637;
      border-radius: 5px;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      color: #fe6637;
      transition: .2s ease-in-out;
    }
    .shine-button1:before {
      content: "";
      background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
      height: 88px;
      width: 50px;
      position: absolute;
      top: -8px;
      left: -85px;
      transform: skewX(-45deg);
    }
    .shine-button1:hover {
      background: #fe6637;
      color: #fff;
    }
    .shine-button1:hover:before {
      left: 180px;
      transition: .3s ease-in-out;
    }
  
  /* Строкb ввода */
  .conteiner_input_item {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
  }
  
  
    .input_item {
      outline: none;
      border: 0px;
      width: 90%;
      min-width: 300px;
      max-width: 600px;
      height: 60px;
      color: #000000;
      border-radius: 5px;
      text-align: center;
      font-family: sans-serif, Times, serif, Georgia;
      font-weight: 800;
      font-size: 40px;
      transition: 0.4s;
  }
  .input_item:focus {
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(0,255,255,0.7),
            2px 4px 8px 0px rgba(0,255,255,0.7),
            2px 4px 16px 0px rgba(0,255,255,0.7);
    transform: 0.4s;
  }
  
  
  
  
  
  /* Окно после обработки запроса  */
  
  .conteiner_call_back {
    margin: 10% auto;
    width: 500px;
    height: 720px;
    border: 1px solid #fe6637;
    border-radius: 25px;
    /* скругление углов */
    background-color: #131313ce;
    /* внешняя тень блока */
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
  }
  
  .igmp__call_back {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 500px;
  }
  
  
  
    @media (max-width:500px) {
    .shine-button1 {
      padding: 10px 20px;
      margin: 10px 15px;
      font-size: 25px;
      
    }
    .overlay:target+.popup {
        top: 5%; /* положение окна от верха страницы при появлении */
        
    }
    .popup {
        width: 100%;
        height: 500px;
        
        max-width: 280px;
        min-width: 280px;
    }
    /* Логотип */
    .form_logo {
        display: block;
        margin: 5px auto;
        width: 100px;
        height: 90px;
      }
      .p_call {
        font-size: 30px;
        margin: 5px;
      }
      .input_item {
        outline: none;
        border: 0px;
        width: 100%;
        max-width: 260px;
        min-width: 260px;
        height: 40px;
        color: #000000;
        border-radius: 5px;
        text-align: center;
        font-family: sans-serif, Times, serif, Georgia;
        font-weight: 800;
        font-size: 25px;
        transition: 0.4s;
    }
  }
























  /* Слайдер*/
/* ------------------------------------------------------------------------*/
.slr {
    position: relative;
    max-width: 570px;
    height: 800px;
    overflow: hidden;
    background-image: url(igmp_index/LOGO.svg);
    background-size: 50%;
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px auto;
    border-radius: 20px;
  }
  .slr ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
  }
  
  #sls .sl .sl-text {
    position: absolute;
    margin: 70px 30px;
    bottom: 0;
    z-index: 2;
    padding: 20px;
    background:rgba(0,0,0,0.4);
    transform: translateY(200%);
    transition: all 400ms ease-in-out;
  }
  #sls .sl.sl-active .sl-text {
    transform: translateY(0);
    transition-delay: 0.3s;
  }
  #sls .sl .sl-text .sl-title {
    font-size: 26px;
    line-height: 30px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;    
    margin-bottom: 20px;
  }
  #sls .sl .sl-text .sl-data {
    font-size: 16px;
    line-height: 22px;
    color: #FFF;
    margin-bottom: 20px;    
  }
  #sls .sl .sl-text .sl-read {
    display: inline-flex;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', sans-serif;
    background: #337AB7;
    cursor: pointer; 
  }
  #sls .sl .sl-text .sl-read:hover,
  #sls .sl .sl-text .sl-read:active,
  #sls .sl .sl-text .sl-read:focus {
    color: #FFF;
  }
  #sls .sl .sl-text .sl-read:after,
  #sls .sl .sl-text .sl-read:before {
    position: absolute;
    height: 4px;
    left: 50%;
    background: #337AB7;
    bottom: -8px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
  }
  #sls .sl .sl-text .sl-read:before {
    top: -8px;
  }
  #sls .sl .sl-text .sl-read:hover:after,
  #sls .sl .sl-text .sl-read:hover:before,
  #sls .sl .sl-text .sl-read:active:after,
  #sls .sl .sl-text .sl-read:active:before,
  #sls .sl .sl-text .sl-read:focus:after,
  #sls .sl .sl-text .sl-read:focus:before {
    width: 100%;
    left: 0;
  }
  #sls .sl .sl-partial {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 1s ease-in-out;
  }
  #sls .sl .sl-partial img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-in-out;
  }
  #sls .sl .sl-left {
    top: 0;
    left: 0;
    transform: translateX(-100%);
    clip-path: polygon(0 0, 2% 0, 100% 98%, 100% 100%, 0 100%);
  }
  #sls .sl .sl-left img {
    top: 0;
    right: 0;
  }
  #sls .sl .sl-right {
    top: 0;
    right: 0;
    transform: translateX(100%);
    clip-path: polygon(0 2%, 0 0, 100% 0, 100% 100%, 98% 100%);
  }
  #sls .sl .sl-right img {
    top: 0;
    left: 0;
  }
  #sls .sl.sl-active .sl-partial, 
  #sls .sl.sl-active .sl-partial img {
    transform: translateX(0);
  }
  .slr .sl-btn {
    position: absolute;
    top: 40px;
    right: 140px;
    z-index: 100;
    height: 50px;
    width: 50px;
    z-index: 100;
    cursor: pointer;
    overflow: visible;
  }
  .slr .sl-btn.sl-next {
    right: 50px;    
  }
  .slr .sl-btn polygon, 
  .slr .sl-btn path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #FFF;
  }
  .slr .sl-btn:hover polygon, 
  .slr .sl-btn:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #FFF;
  }
  .slr .sl-btn:hover .sl-btn-pl {
    animation: sl-btn-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
  }
  .slr .sl-btn:hover .sl-btn-pl-fixed {
    animation: sl-btn-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
  }
  .sl-select {
    position: absolute;
    bottom: 10px;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
  }
  .sl-select li {
    position: relative;
    cursor: pointer;
    margin: 0 8px;
  }
  .sl-select .selector {
    margin: 2px;
    height: 34px;
    width: 34px;
    border: 2px solid rgb(100, 4, 4);
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
  }
  .sl-select .selector.sl-current {
    background-color: #fa2702;
  }
  @keyframes sl-btn-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
  }
  @keyframes sl-btn-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
  }    
  @media screen and (max-width:767px) {
    #sls .sl .sl-text {
        position: absolute;
        width: 100%;
        margin: 70px 0;
        bottom: 0;
        z-index: 2;
        padding: 20px;
    }
    #sls .sl .sl-text .sl-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    #sls .sl .sl-text .sl-data {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 10px;    
    }
  }
  
  @media (max-width:1000px) {
    
    .sl-select .selector {
      margin: 2px;
      height: 30px;
      width: 30px;
    }
  }
  
  @media (max-width:500px) {
    .slr {
        width: 100%;
        height: 680px;
        border-radius: 0px;
    }
    .sl-select .selector {
      margin: 2px;
      height: 25px;
      width: 25px;
    }
  }

  @media (max-width:450px) {
    .slr {
        width: 100%;
        height: 600px;
        border-radius: 0px;
    }
}
@media (max-width:400px) {
    .slr {
        width: 100%;
        height: 500px;
        border-radius: 0px;
    }
}
  /* ------------------------------------------------------------------------*/
